.container {
  margin: 50px 0;
  width: 80%;
}

.card {
  margin: 0 1.25% !important;
}

.confirmed {
  border-left: 5px solid rgb(224, 121, 51);
}

.recovered {
  border-left: 5px solid rgb(88, 226, 157);
}

.deaths {
  border-left: 5px solid rgb(245, 72, 72);
}

@media (max-width: 778px) {

  .container {
    width: 90%;
  }
  
  .card {
    margin: 3% 0 !important;
  }
}
